

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/*HEADER*/
.top-header {
}

.top-nav {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.color-logo {
  color: #2196f3;
}

.menu {
}

.menu-item {
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.activ{
color: #2196f3;
}
/*.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}*/

.contacts {
}

.mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.mail:hover,
.mail:focus {
  color: #2196f3;
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.tel:hover,
.tel:focus {
  color: #2196f3;
}

/*MAIN*/

.hero {
}
.button-hero {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  
}
.button-hero:hover,
.button-hero:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.hero-title-h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-paragraf-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*FOOTER*/
.footer {
  background: #2f303a;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
