:root{
  --main-color:#212121;
  --color2:#ffffff;
  --color-hover:#2196f3;
  --logo-font-fam:"Raleway",sans-serif;
  --primary-font-size: 14px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/*HEADER*/
.top-header {
}

.top-nav {
}

.logo {
  font-family: var(--logo-font-fam);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.color-logo {
  color: var(--color-hover);
}

.menu {
}

.menu-item {
}

.menu-link {
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.activ {
  color: var(--color-hover);
}

.contacts {
}

.mail {
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.mail:hover,
.mail:focus {
  color: var(--color-hover);
}

.tel {
  font-weight: 500;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel:hover,
.tel:focus {
  color: var(--color-hover);
}

/*MAIN*/
.hero {
  background: #2f303a;
}
.main-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color2);
}
.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--color-hover);
  color: var(--color2);
}
.hero-button:hover{
  background:#188CE8;
}

.description {
}

.main-title-item {
  font-weight: 700;
  font-size: var(--primary-font-size);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.second-inform-text {
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*INFO IMAGES*/
.info-img {
}

.what-we-does-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.img-our-job {
}

/*OUR TEAM*/
.our-team-section {
  background: #f5f4fa;
}

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-img {
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.job-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/*MAIN PORTFOLIO*/

.button-hero {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--color-hover);
  color: var(--color2);
}

.hero-title-h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.hero-paragraf-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/*FOOTER*/
.footer {
  background: #2f303a;
}
.logo-footer {
  font-family: var(--logo-font-fam);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color2);
}
.address-footer {
  font-style: normal;
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color2);
}
